# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Node specific
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp/
.pnp.js
coverage/
.next/
out/
build/
dist/

# Environment variables
.env
.env.local
.env.*.local

# IDE specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
web/static/js/dist/
